# compiled output
/dist
/tmp
/out-tsc
/build

# dependencies
/node_modules
/.pnp
.pnp.js

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.pem

# system files
.DS_Store
Thumbs.db

# testing
/coverage

# Vercel and Next.js
/.next/
/out/
.vercel

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# PWA
/puclic/service-worker.js
/puclic/service-worker.js.map
/puclic/workbox-[*].js
/puclic/worker-development.js
